appname = gocart
httpport = 8080
runmode = dev
autorender = true

enablexsrf = true
xsrfkey = bfaf3425fb693fcfd64c4a84fc6491f0
xsrfexpire = 3600

sessionon = true
sessionprovider = memory
sessionname = GOCartSession

defaultpassword = shengwuquan
# Product warehouse added by default, Default Product Added Treasury
defaultstore = Slibrary

# System personnel level, System level staff
level = Super administrator; general library administrator; sub-library administrator; salesman, Super administrator; total librarian; sub-librarian; salesman

[redis]
host = 127.0.0.1
port = 6379
password =
db =
idletimeout = 2
maxidleconns = 3
maxopenconns = 10
initialopenconns = 5
permission_prefix = permission_
userdata_prefix = userdata_

[mysql]
username = root
password =
host = 127.0.0.1
port = 3306
database = erp
